.navbar-home {
    background: linear-gradient(
      90deg,
      rgb(175, 176, 180) 0%,
      rgb(97, 97, 99) 100%
    );
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
  }

  .navbar-logo-red {
    color: rgb(185, 29, 29);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
  }
  .navbar-logo-blue {
    color: rgb(43, 54, 206);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  